.App {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: stretch;
    min-height: 100svh;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}