.Market {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15vh;

    & img {
        align-self: flex-start;
        width: 50%;
        max-width: 200px;
    }

    & h1 {
        color: #FFF;
        font-family: Manrope;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.list {
    display: flex;
    // flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
    background: #1F1F1F;
    max-width: 465px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc {
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}