.MainPage {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.VideoLayout {
    height: 100svh;
    overflow: visible;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    object-fit: cover;
    height: 100svh;
    width: 100svw;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Neymark {
    max-width: 1000px;
    z-index: 10;
    color: #FFFFFF;

    & h1 {
        font-size: min(15vw, 150px);
    }

    & p {
        font-size: min(3.5vw, 30px);
    }
}

.arrow {
    margin: 0 auto;
    rotate: 90deg;
    margin-top: 10vh;
    height: 30px;
    width: 30px;

    & svg {
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }
}

.schedule {
    min-height: 100svh;
}